@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');


body {
  background-color: lightblue;
}


.navbar-brand{
    color: rgb(27, 228, 0) !important;
    font-family: 'Rubik', sans-serif !important;
}

.test1:hover{
  color: aqua;
}

.logo{
  width: 30%;
  height: auto;
  object-fit: contain;
}


.pic2 {
  margin-top: -20px;
  margin-bottom: -10%;
}


.carousel-item img{
  width: auto;
  height: 550px;
  max-height: 550px;
  object-fit: cover;
  object-position: 70% 0;
}


.card {
  margin: 0 auto; 
  float: none; 
  margin-bottom: 20px;
}

.black-overlay{
  position: absolute;
  top: 0px;
  left:0px;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.6);
}

.mb-4{
  margin: 0 auto; 
  float: none; 
  margin-bottom: 20px;
}

